<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | News Keywords</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset("assets/plugins/bootstrap/css/bootstrap.css") }}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset("assets/plugins/node-waves/waves.css") }}" rel="stylesheet">

    <!-- Animation Css -->
    <link href="{{ asset("assets/plugins/animate-css/animate.css") }}" rel="stylesheet">

    <!-- Custom Css -->
    <link href="{{ asset("assets/css/style.css") }}" rel="stylesheet">

    <link href="{{ asset("assets/plugins/sweetalert/sweetalert.css") }}" rel="stylesheet">

    <link href="{{ asset("assets/plugins/bootstrap-select/css/bootstrap-select.css") }}" rel="stylesheet">

    <link href="{{ asset("assets/css/themes/all-themes.css") }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
</head>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar" id="top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars" style="display:none;"></a>
            <a class="navbar-brand" href="{{ path('homepage') }}">ADMINBSB - MATERIAL DESIGN</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{{ asset('assets/images/user.png') }}" width="48" height="48" alt="User"/>
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false"></div>
                <div class="email">{{ app.user.username }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href=""><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">Menu</li>
                <li class="active">
                    <a href="">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">format_quote</i>
                        <span>Keys</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{{ path('key-add') }}">
                                <span>Add</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">format_list_bulleted</i>
                        <span>Coins</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{{ path('binance-coin-list') }}">
                                <span>Table</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">format_list_bulleted</i>
                        <span>Rules</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{{ path('binance-coin-list') }}">
                                <span>Add</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('binance-rule-list', {id: app.user.id}) }}">
                                <span>Table</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; {{ "now"|date('Y') }} <a href="">News Keywords</a>
            </div>
            <div class="version">
                <b>Version: </b> 0.0.2
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    </aside>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    {% block body %}{% endblock %}
</section>

<!-- Jquery Core Js -->
<script src="{{ asset("assets/plugins/jquery/jquery.js") }}"></script>

<!-- Bootstrap Core Js -->
<script src="{{ asset("assets/plugins/bootstrap/js/bootstrap.js") }}"></script>

<!-- Select Plugin Js -->
<script src="{{ asset("assets/plugins/bootstrap-select/js/bootstrap-select.js") }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset("assets/plugins/jquery-slimscroll/jquery.slimscroll.js") }}"></script>

<script src="{{ asset("assets/plugins/jquery-validation/jquery.validate.js") }}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ asset("assets/plugins/node-waves/waves.js") }}"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{{ asset("assets/plugins/jquery-countto/jquery.countTo.js") }}"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="{{ asset("assets/plugins/jquery-sparkline/jquery.sparkline.js") }}"></script>

<script src="{{ asset("assets/plugins/bootstrap-notify/bootstrap-notify.js") }}"></script>
<script src="{{ asset("assets/plugins/sweetalert/sweetalert.min.js") }}"></script>

<script src="{{ asset("assets/js/pages/forms/form-validation.js") }}"></script>

<!-- Custom Js -->
<script src="{{ asset("assets/js/admin.js") }}"></script>

<!-- Demo Js -->
<script src="{{ asset("assets/js/demo.js") }}"></script>
{% block javascripts %}
{% endblock %}
</body>

</html>