{% extends 'base.html.twig' %}

{% block body %}
    <!-- Basic Example | Horizontal Layout -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="header">
                    <h2>
                        <b>{{ data['symbol'] }}</b> (<span
                                id="{{ data['symbol'] | lower }}" class="live-price">{{ data['price'] }}</span>)

                    </h2>
                </div>
                <div class="body">
                    <form id="form_advanced_validation" method="POST"
                          action="{{ path('binance-post-add-rule', {symbol: data['symbol']}) }}">
                        <label>Buy Limit</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="buy-rule-limit"
                                       placeholder="{{ data['price'] }}" name="buy-limit" value="" maxlength="10"
                                       minlength="10"
                                       required>
                            </div>
                            <div class="help-info">Limit rule to be purchased.</div>
                        </div>
                        <label>Stop</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="rule-stop"
                                       placeholder="{{ data['price'] }}" name="stop" value="" maxlength="10"
                                       minlength="10">
                            </div>
                            <div class="help-info">(Optional) If buy limit rule not to be, stop to be purchased.</div>
                        </div>
                        <button class="btn btn-primary waves-effect" type="submit">SAVE</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("assets/plugins/jquery-validation/jquery.validate.js") }}"></script>
    <script src="{{ asset("assets/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ asset("assets/js/demo.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var symbol = "{{ data['symbol'] }}";
            var url = "wss://stream.binance.com:9443/ws/" + symbol.toLowerCase() + "@aggTrade";
            var prices = [];
            w = new WebSocket(url);
            w.onopen = function () {
                //console.log('OPENED!');
            };
            w.onmessage = function (e) {
                var data = JSON.parse(e.data.toString());
                if (!prices[symbol]) {
                    prices[symbol] = data.p;
                } else {
                    if (prices[symbol] > data.p) {
                        $('#' + symbol.toLowerCase()).text(data.p).css('color', '#FD3F32');
                    } else {
                        $('#' + symbol.toLowerCase()).text(data.p).css('color', '#39FD32');
                    }
                }
            };

            $(".live-price").click(function () {
                $("#buy-rule-limit").val($(this).text());
                $("#rule-stop").val($(this).text());
            });

            {% for label, messages in app.flashes(['success']) %}
            {% for message in messages %}
            iziToast.success({
                title: 'SUCCESS',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}

            {% for label, messages in app.flashes(['error']) %}
            {% for message in messages %}
            iziToast.error({
                title: 'ERROR',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}