{% extends 'base.html.twig' %}

{% block body %}
    <!-- Basic Example | Horizontal Layout -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <b>{{ data['symbol'] }}</b> (<span
                                id="{{ data['symbol'] | lower }}" class="live-price">{{ data['price'] }}</span>)

                    </h2>

                </div>
                <div class="body">
                    <form id="form_advanced_validation" class="rule-form" method="post"
                          action="{{ path('binance-post-edit-rule', {id: rule.id}) }}">
                        <label class="form-group">BTC: <span id="btc-price">{{ data['btcPrice'] }}</span>
                            <a id="btc-percent-100">[%100]</a>
                            <a id="btc-percent-75">[%75]</a>
                            <a id="btc-percent-50">[%50]</a>
                            <a id="btc-percent-25">[%25]</a>
                        </label>
                        <!--<label>Btc Price</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="btc-price"
                                       placeholder="" name="btc-price"
                                       value="" maxlength="10"
                                       minlength="10"
                                       required
                                       disabled>
                            </div>
                            <div class="help-info">Limit rule to be purchased.</div>
                        </div><!-->
                        <label>Quantity</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="quantity"
                                       placeholder="{{ rule.quantity }}" name="quantity"
                                       value="{{ rule.quantity }}"
                                       minlength="1"
                                       required>
                            </div>
                            <div class="help-info">Limit rule to be purchased.</div>
                        </div>
                        <label>Buy Limit</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="buy-rule-limit"
                                       placeholder="{{ rule.buyLimit }}" name="buy-limit" value="{{ rule.buyLimit }}"
                                       maxlength="10"
                                       minlength="10"
                                       required>
                            </div>
                            <div class="help-info">Limit rule to be purchased.</div>
                        </div>
                        <label>Stop</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" id="rule-stop"
                                       placeholder="{{ rule.stop }}" name="stop" value="{{ rule.stop }}" maxlength="10"
                                       minlength="10">
                            </div>
                            <div class="help-info">(Optional)</div>
                        </div>
                        <button type="submit" id="save" class="btn btn-primary m-t-15 waves-effect">SAVE
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("assets/plugins/jquery-validation/jquery.validate.js") }}"></script>
    <script src="{{ asset("assets/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ asset("assets/js/demo.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var symbol = "{{ data['symbol'] }}";
            var url = "wss://stream.binance.com:9443/ws/" + symbol.toLowerCase() + "@aggTrade";
            var prices = [];
            w = new WebSocket(url);
            w.onopen = function () {
                //console.log('OPENED!');
            };
            w.onmessage = function (e) {
                var data = JSON.parse(e.data.toString());
                if (!prices[symbol]) {
                    prices[symbol] = data.p;
                } else {
                    if (prices[symbol] > data.p) {
                        $('#' + symbol.toLowerCase()).text(data.p).css('color', '#FD3F32');
                    } else {
                        $('#' + symbol.toLowerCase()).text(data.p).css('color', '#39FD32');
                    }
                }
            };

            $(".live-price").click(function () {
                $("#buy-rule-limit").val($(this).text());
            });

            $('#buy-rule-limit').on('input', function (e) {
                var buyLimit = $(this).val();
                var limit = parseInt($(this).attr('maxlength'));
                var chars = buyLimit.length;
                if (chars > limit) {
                    var new_text = buyLimit.substr(0, limit);
                    $(this).val(new_text);
                } else {
                    var quantity = $('#quantity').val();
                    if (quantity !== '' && buyLimit !== '') {
                        var result = quantity * buyLimit;
                        $('#btc-price').text(result.toFixed(8));
                    }
                }
            });

            $('#quantity').on('input', function (e) {
                var quantity = $(this).val();
                var buyLimit = $('#buy-rule-limit').val();
                if (quantity !== '' && buyLimit !== '') {
                    var result = quantity * buyLimit;
                    $('#btc-price').text(result.toFixed(8));
                }
            });

            /**$('#btc-price').on('input', function (e) {
                var btcPrice = $(this).val();
                var limit = parseInt($(this).attr('maxlength'));
                var chars = btcPrice.length;
                if (chars > limit) {
                    var new_text = btcPrice.substr(0, limit);
                    $(this).val(new_text);
                } else {
                    var buyLimit = $('#buy-rule-limit').val();
                    if (btcPrice !== '' && buyLimit !== '') {
                        var result = btcPrice / buyLimit;
                        $('#quantity').val(result.toFixed(8));
                    }
                }
            });**/

            $('#save').click(function (e) {
                e.preventDefault();
                var inputBtcPrice = $('#btc-price');
                if (inputBtcPrice.text() < 0.00010000) {
                    iziToast.error({
                        title: 'ERROR',
                        message: "Btc Price or Buy Limit not valid! (Btc Price should bigger than 0.0001)"
                    });
                    return false;
                }
                var btcPrice = "{{ data['btcPrice'] }}";
                if (inputBtcPrice.text() > btcPrice) {
                    var buyLimit = $('#buy-rule-limit').val();
                    var result = btcPrice / buyLimit;
                    $('#quantity').val(parseInt(result));
                    inputBtcPrice.text(btcPrice);
                } else {
                    var ruleForm = $('.rule-form');
                    var btcInput = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "btc-price").val("{{ rule.btcPrice }}");
                    ruleForm.append(btcInput);
                    ruleForm.submit();
                }
            });

            $('#btc-percent-100').click(function () {
                var userBtcPrice = "{{ data['btcPrice'] }}";
                var btcPrice = $('#btc-price');
                var buyLimit = $('#buy-rule-limit');
                btcPrice.text(userBtcPrice);
                $('#quantity').val(parseInt(btcPrice.text() / buyLimit.val()));
            });

            $('#btc-percent-75').click(function () {
                var userBtcPrice = ("{{ data['btcPrice'] }}" * 75) / 100;
                var btcPrice = $('#btc-price');
                var buyLimit = $('#buy-rule-limit');
                btcPrice.text(userBtcPrice);
                $('#quantity').val(parseInt(btcPrice.text() / buyLimit.val()));
            });

            $('#btc-percent-50').click(function () {
                var userBtcPrice = ("{{ data['btcPrice'] }}" * 50) / 100;
                var btcPrice = $('#btc-price');
                var buyLimit = $('#buy-rule-limit');
                btcPrice.text(userBtcPrice);
                $('#quantity').val(parseInt(btcPrice.text() / buyLimit.val()));
            });

            $('#btc-percent-25').click(function () {
                var userBtcPrice = ("{{ data['btcPrice'] }}" * 25) / 100;
                var btcPrice = $('#btc-price');
                var buyLimit = $('#buy-rule-limit');
                btcPrice.text(userBtcPrice);
                $('#quantity').val(parseInt(btcPrice.text() / buyLimit.val()));
            });

            {% for label, messages in app.flashes(['success']) %}
            {% for message in messages %}
            iziToast.success({
                title: 'SUCCESS',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}

            {% for label, messages in app.flashes(['error']) %}
            {% for message in messages %}
            iziToast.error({
                title: 'ERROR',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}