{% extends 'base.html.twig' %}

{% block body %}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="header">
                    <h2>
                        Rule Table
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Btc Price</th>
                                <th>Quantity</th>
                                <th>Stop</th>
                                <th>Limit</th>
                                <th>Current Price</th>
                                <th>Is Done</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Btc Price</th>
                                <th>Quantity</th>
                                <th>Stop</th>
                                <th>Limit</th>
                                <th>Current Price</th>
                                <th>Is Done</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% set counter = 1 %}
                            {% for rule in rules %}
                                <tr class="list-item-block">
                                    <th scope="row">{{ counter }}</th>
                                    <td>{{ rule.symbol }}</td>
                                    <th>{{ rule.btcPrice }}</th>
                                    <th>{{ rule.quantity }}</th>
                                    <th>{{ rule.stop }}</th>
                                    <td>{{ rule.buyLimit }}</td>
                                    <td id="{{ rule.symbol | lower }}"></td>
                                    <td>
                                        {% if rule.isDone %}
                                            <i class="material-icons">done</i>
                                        {% else %}
                                            <i class="material-icons">error_outline</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a data-toggle="confirmation"
                                           href="{{ path('binance-edit-rule', {id: rule.id}) }}"
                                           class="btn fancybox default edit btn-xs green"
                                           title="Edit"><i class="material-icons">edit</i></a>
                                        <a data-toggle="confirmation"
                                           href="{{ path('binance-delete-rule', {id: rule.id}) }}"
                                           data-type="confirm"
                                           class="btn fancybox default delete btn-xs green"
                                           title="Delete"><i class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}


    {% block javascripts %}
        <script src="{{ asset("assets/plugins/jquery-datatable/jquery.dataTables.js") }}"></script>
        <script src="{{ asset("assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js") }}"></script>
        <script src="{{ asset("assets/js/pages/tables/jquery-datatable.js") }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                var coins = {{ coins | json_encode | raw }};
                var prices = [];
                $.each(coins, function (key, value) {
                    $('#' + key.toLowerCase()).text(value);
                    var url = "wss://stream.binance.com:9443/ws/" + key.toLowerCase() + "@aggTrade";
                    w = new WebSocket(url);
                    w.onopen = function () {
                        //console.log('OPENED!');
                    };
                    w.onmessage = function (e) {
                        var data = JSON.parse(e.data.toString());
                        if (!prices[key]) {
                            prices[key] = data.p;
                        } else {
                            if (prices[key] > data.p) {
                                $('#' + key.toLowerCase()).text(data.p).css('color', '#FD3F32');
                            } else {
                                $('#' + key.toLowerCase()).text(data.p).css('color', '#5AE25A');
                            }
                        }
                    };
                });

                $('.delete').click(function (event) {
                    event.preventDefault();
                    var targetElem = $(this);
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this data!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    }, function () {
                        var targetHref = targetElem.attr('href');
                        $.get(targetHref, function (data) {
                            var objData = JSON.parse(data);
                            if (objData.status) {
                                targetElem.closest('.list-item-block').remove();
                                swal("Deleted!", "Your data has been deleted.", "success");
                            } else {
                                swal("Error!", "error", "warning");
                            }
                        });
                    });
                });

                {% for label, messages in app.flashes(['success']) %}
                {% for message in messages %}
                iziToast.success({
                    title: 'SUCCESS',
                    message: "{{ message }}"
                });
                {% endfor %}
                {% endfor %}

                {% for label, messages in app.flashes(['error']) %}
                {% for message in messages %}
                iziToast.error({
                    title: 'ERROR',
                    message: "{{ message }}"
                });
                {% endfor %}
                {% endfor %}
            });
        </script>


    {% endblock %}