{% extends 'base.html.twig' %}

{% block body %}
    <!-- Basic Example | Horizontal Layout -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if (app.user.binanceApiKey is empty) or (app.user.binanceSecretKey is empty) %}
                <div class="card">
                    <div class="header">
                        <h2>BINANCE EXCHANGE</h2>
                    </div>
                    <div class="body">
                        <div id="wizard_horizontal">
                            <h2>First Step</h2>
                            <section>
                                <p>
                                    Firstly, you should open your account page, you will see <b>Api Setting</b> button.
                                    Click it.
                                </p>
                                <img src="{{ asset('assets/images/binance-api-1.png') }}" width="65%" height="200">
                            </section>

                            <h2>Second Step</h2>
                            <section>
                                <p>
                                    Enter your app name and click <b>Create New Key</b> button, then you should enter
                                    the
                                    <b>Google Authenticator</b>.
                                </p>
                                <img src="{{ asset('assets/images/binance-api-2.png') }}" width="65%" height="200">
                            </section>

                            <h2>Third Step</h2>
                            <section>
                                <p>
                                    If you have built a successful application, you can see your keys.
                                </p>
                                <img src="{{ asset('assets/images/binance-api-3.png') }}" width="65%" height="200">
                            </section>

                            <h2>Forth Step</h2>
                            <section>
                                <p id="finish-text">
                                    Congratulations! Click the <b>Finish</b> button for set your keys.
                                </p>
                                <div class="card" style="display: none">
                                    <div class="header">
                                        <h2>
                                            Settings
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <form method="post" action="{{ path('post-setting-add') }}">
                                            <label for="api_key">Binance Api Key</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="binance-api-key" name="binance-api-key"
                                                           class="form-control"
                                                           placeholder="Enter your Binance api key">
                                                </div>
                                            </div>
                                            <label for="secret_key">Binance Secret Key</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="binance-secret-key" name="binance-secret-key"
                                                           class="form-control"
                                                           placeholder="Enter your Binance secret key">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">SAVE
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="header">
                        <h2>
                            Settings
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post" action="{{ path('post-setting-add') }}">
                            <label for="api_key">Binance Api Key</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="{{ (app.user.binanceApiKey) ? 'password' : 'text' }}"
                                           id="binance-api-key" name="binance-api-key" class="form-control"
                                           placeholder="Enter your Binance api key"
                                           required
                                           value="{{ app.user.binanceApiKey }}">
                                </div>
                            </div>
                            <label for="secret_key">Binance Secret Key</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="{{ (app.user.binanceSecretKey) ? 'password' : 'text' }}"
                                           id="binance-secret-key" name="binance-secret-key"
                                           class="form-control"
                                           placeholder="Enter your Binance secret key"
                                           value="{{ app.user.binanceSecretKey }}" required>
                                </div>
                            </div>
                            <label>Twitter Message Notification</label>
                            <div class="form-group">
                                <span>If you have <a href="{{ twitterOauthUrl }}">Twitter Login</a> here and follow <a
                                            href="https://twitter.com/rulechain" target="_blank">Rulechain</a> account, we can send you a notification.</span>
                                <a href="{{ path('api-remove-user-twitter-screen-name', {id: app.user.id}) }}"
                                   id="remove-twitter-screen-name">{{ (app.user.twitterScreenName) ? '(Unlink Twitter Notification)' : '' }}</a>
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">SAVE
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("assets/plugins/jquery-validation/jquery.validate.js") }}"></script>
    <script src="{{ asset("assets/plugins/jquery-steps/jquery.steps.js") }}"></script>
    <script src="{{ asset("assets/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ asset("assets/js/pages/forms/form-wizard.js") }}"></script>
    <script src="{{ asset("assets/js/demo.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.waves-effect').on('click', function () {
                if ($(this).text() == 'Finish') {
                    $('#finish-text').hide();
                    $('.card').show();
                }
            });

            $('#remove-twitter-screen-name').click(function (e) {
                e.preventDefault();
                var that = $(this);
                var url = that.attr('href');
                $.ajax
                ({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        if (!data.error) {
                            iziToast.success({
                                title: 'SUCCESS',
                                message: data.message
                            });
                            that.hide();
                        }
                    }
                });
            });

            {% for label, messages in app.flashes(['success']) %}
            {% for message in messages %}
            iziToast.success({
                title: 'SUCCESS',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}

            {% for label, messages in app.flashes(['error']) %}
            {% for message in messages %}
            iziToast.error({
                title: 'ERROR',
                message: "{{ message }}"
            });
            {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}